@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    font-size: 62.5%;
}
section {
    height: 100vh;
    width: 100%;
    /*margin-top: 70px;*/
}

.cabecalho{
    display:block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background: #000022;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cabecalho-logo{
    height: 10%;
    width: 10%;
    margin-top: 10px;
}
.menu-item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
}
.cabecalho-menu{
    display: flex;
    gap: 50px;
}
.botao-da-nav{
    width: 140px;
    height: 38px;
    background: #000022;
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: #E67F0D;
}
.home{
    background: #000022;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.home h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #BEBEFF;
}
.home h2{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    width: 64.7rem;
    color: #FFFFFF;
}
.home p{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    color: #FFFFFF;
}
.people{
    height: 65%;

}
.textohome{
    align-items: center;
    margin-left: 9.4rem;
    max-width: 64.7rem;
}
.botao2{
    width: 178px;
    height: 55px;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    color: #E67F0D;
}
.sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.garota{
    height: 65%;
}
.cadastrar{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
    color: #E67F0D;
}
.linha{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 225.9px;
    height: 8px;
    background: #E67F0D;
    border-radius: 10px;
}
.sobre h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000022;
}
.sobre p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
    color: #000022;
}
.quem{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000022;
    justify-content: center;

}
.quem h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    /*margin-top: 10px;*/
    margin-bottom: 20px;
}
.textnos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    width: 1338px;
    margin-bottom: 20px;
}
.nomenos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    width: 600px;
    margin-top: 10px;
}
.nos{
    height: 40%;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contatoimg{
    display: flex;
    height: 70%;
}
.contato h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000022;
    padding-block: 5.5rem;
}
.formulario{
    width: 1000px;
    height: 520px;
    background: #EEEEEE;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nome{
    width: 273px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E67F0D;
    border-radius: 10px;
    padding: 0rem 0rem 0rem 0.5rem;
}
#email{
    width: 273px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E67F0D;
    border-radius: 10px;
    padding: 0rem 0rem 0rem 0.5rem;
}
#assunto{
    width: 273px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E67F0D;
    border-radius: 10px;
    padding: 0rem 0rem 0rem 0.5rem;
}
#mensagem{
    width: 909px;
    height: 205px;
    background: #FFFFFF;
    border: 1px solid #E67F0D;
    border-radius: 10px;
    margin-left: 45px;
    display: flex;
    padding: 0rem 0rem 18rem 0.5rem;
}
.tresform{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.formulario p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 34px;
    margin-left: 45px;
    color: #000022;
}
.botao3{
    width: 142px;
    height: 40px;
    background: #FFFFFF;
    border: 3px solid #E67F0D;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 39px;
    align-items: center;
    color: #E67F0D;
    display: flex;
    justify-content: center;
    margin-left: 45px;
}
.corpoform{
    display: flex;
    flex-direction: row;
}
footer{
    background: #000022;
    display: flex;
    flex-direction: column;
}
.centro{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.textosfooter{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: #FFFFFF;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 4.5rem;
}
.direitos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;

}
.divredes{
    gap: 15px;
    display: flex;
    margin-left: 35px;
    margin-top: 1.5rem;
    margin-bottom: 3.0rem;
}
.icones{
    list-style: none;
    display: flex;

}
.redes{
    height: 20%;
    width: 20%;

    /*flex-direction: row;
    align-items: center;*/
}
/*@media screen and (max-width: 1200px){
    .cabecalho-logo{
        width: 100px;
    }
    .cabecalho-menu{
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }
    section {
        flex-direction: column;
        height: 100%;
    }

    img {
        height: 20%;
    }
}*/